page-eight {
}

.meniu-buttons-block{
  height:  calc(100% /3);
}

.menu-button {
  display: inline;
  width: auto;
  left: 25%;
  width: 50%;
  height: 25%;
}

.h18 {
  font-size: 15em;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  position: relative;

}

.en8 {
  font-size: 7em;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  position: relative;
}
