page-abc {
}

.abc-table {
  display: inline-block;
  margin: 0 auto;
}

.abs-buttons-block {
  position: relative;
  text-align: center;
  //margin: 1 auto;
}

.abc-button {
  margin: 2 auto;
 // margin-left: 1em;
  margin-top: 1em;
  width: 5em;
  position: relative;
}
