page-abc {
}

.scroll-content {
  background-image: url("./assets/images/backgrounds/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.abc-table {
  display: inline-block;
  margin: 0 auto;
}

.abs-buttons-block {
  position: relative;
  text-align: center;
  //margin: 1 auto;
}

.abc-button {
  margin: 2 auto;
 // margin-left: 1em;
  margin-top: 1em;
  width: 5em;
  position: relative;
}
