page-number {
}

.scroll-content {
  background-image: url("./assets/images/backgrounds/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.meniu-buttons-block{
  padding: 2em ;
}

.menu-button {
  display: inline;
  width: auto;
  left: 25%;
  width: 50%;
  height: 25%;
}
.table {
   display: inline-block;
  margin: 0 auto;
}


