page-liepa {
}

.meniu-buttons-block{
  height:  calc(100% /3);
}

.menu-button {
  display: inline;
  width: auto;
  left: 25%;
  width: 50%;
  height: 25%;
}


.img {
  width: initial;
  height: 10vh;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: -25%;
}
