page-month {
}

.scroll-content {
  background-image: url("/assets/images/backgrounds/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.meniu-buttons-block{
  position: relative;
  text-align: center;
}

.menu-button {
  margin: 2 auto;
  margin-top: 0.5em;
  width: 10em;
  position: relative;
}


