page-other {
}

.meniu-buttons-block{
  height:  calc(100% /3);
}

.menu-button {
  display: inline;
  width: auto;
  left: 25%;
  width: 50%;
  height: 25%;
}

.word-img {
  max-height: 60vh;
  width: auto;
  display: block;
  margin: auto;
}

.word {
  text-align: center;
  font-size: 30pt;
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
}
.enword {
  text-align: center;
  font-size: 48pt;
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
}
