page-two {
}

.scroll-content {
  background-image: url("/assets/images/backgrounds/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.meniu-buttons-block{
  height:  calc(100% /3);
}

.menu-button {
  display: inline;
  width: auto;
  left: 25%;
  width: 50%;
  height: 25%;
}
.h12 {
  font-size: 15em;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  position: relative;

}
.en2 {
  font-size: 7em;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  position: relative;
}
