white-home {
}

.whitebg {
  background-color: white;
 // background-image: url("/assets/images/backgrounds/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.h1 {
  font-size: 15em;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  position: relative;

}
