page-one {
}

.meniu-buttons-block{
  height:  calc(100% /3);
}

.menu-button {
  display: inline;
  width: auto;
  left: 25%;
  width: 50%;
  height: 25%;
}

.h11 {
  font-size: 15em;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  position: relative;

}

.en1 {
  font-size: 7em;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  position: relative;
}
