page-uzduotys {
}

.header {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  text-align: center;
  font-size: 25px;
  color: white;
}



.word-img{
    width: 100%;
    height: auto;
}

.word-buttonUzduotys{
  display: inline-block;
  margin: 2 auto;
  margin-top: 1em;
  width: 10em;
}

.word-buttonNext{
  float: right;
}

.incorrect-toast {
  > div {
       background-color:red!important;
   }
  text-align: center;
}

.correct-toast {
  > div {
       background-color:green!important;
   }
  text-align: center;
}
