<ion-header>
  <ion-navbar>
    <ion-title>
       Išmok angliškai!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

      <h1 class="header">Kas tai?</h1>
      <img class="word-img" src="{{currentTask.image}}">
      <h2 *ngIf="answer">{{answer === currentTask.correct ? 'Teisingai!': 'Bandyk dar kartą!'}}</h2>
      <ion-grid>
    <ion-row>
      <ion-col *ngFor="let word of currentTask.words" class="advanced-background word-container">
        <button class="word-buttonUzduotys" ion-button color="secondary" round (click)="selectAnswer($event, word)">{{word}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
    <button  *ngIf="answer" class="word-buttonNext" ion-button color="secondary" round (click)="nextClick($event)">></button>
</ion-content>
