page-other {
}

.meniu-buttons-block {
  height:  calc(100% /3);
}

.word-container {
  text-align: center;
}

.word-button {
  display: inline-block;
  margin: 2 auto;
  margin-top: 1em;
  width: 10em;
}


