page-other {
}

.scroll-content {
  background-image: url("/assets/images/backgrounds/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.meniu-buttons-block {
  height:  calc(100% /3);
}

.word-container {
  text-align: center;
}

.word-button {
  display: inline-block;
  margin: 2 auto;
  margin-top: 1em;
  width: 10em;
}


