brown-home {
}

.brownbg {
  background-color: brown;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.brownh1 {
  font-size: 7em;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 90%;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;

}
